{% extends 'base.html.twig' %}

{% block body %}

    {% block title %}<h3 align="center"> All the events In one place !</h3>{% endblock %}
    <h1 align="center">Events</h1>
    <!--
    <a class="btn btn-outline-primary" aria-current="page" href="/event/add">Add Event</a>
    -->
    <div class="container">
        {% if events %}
            <div class="table-responsive">
                <table id="events" class="table table-hover table-bordered table-sm table-primary border-light">
                    <thead>
                    <tr>
                        <th scope="col">Event</th>
                        <th scope="col">Supplier</th>
                        <th scope="col">Players</th>
                        <th scope="col">Remaining</th>
                        <th scope="col">Type</th>
                        <th scope="col">Date</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for event in events %}
                        <tr>
                            <td>{{ event.name }}</td>
                            <td>{{ event.supplier }}</td>
                            <td>{{ event.NumParticipants }}</td>
                            <td>{{ event.NumRemaining }}</td>
                            <td>{{ event.type }}</td>
                            <td>{{ event.date|date }}</td>
                            <td>
                                <a href="/event/{{ event.id }}" class="btn btn-primary">
                                    Show
                                </a>

                                <a href="/event/join/{{ event.id }}" class="btn btn-primary">
                                    Join This Event
                                </a>

                                <!--
                                <a href="event/edit/{{ event.id }}" class="btn btn-light">
                                    Edit
                                </a>
                                -->

                                <!--
                                <a href="event/delete/{{ event.id }}" class="btn btn-danger">
                                    Delete
                                </a>
                                -->

                                <!--
                                <a href="#" class="btn btn-danger delete-event" data-id="{{ event.id }}">
                                    Cancel
                                </a>
                                -->
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>

        {% else %}
            <p>No events yet !</p>
        {% endif %}

    </div>

    <!--
    {% block Javascripts %}
        <script
                type="text/javascript"
                src="/js/delete_event.js">
        </script>
    {% endblock %}
    -->

{% endblock %}

