{% extends 'admin/base.html.twig' %}

{% block body %}
    <main style="margin-top: 58px">
    <div class="container">
        <!--Section: Manage All Events-->
        <section class="mb-4">
            <div class="card">
                <div class="card-header text-center py-3">
                    <h5 class="mb-0 text-center">
                        <strong>Manage All Events</strong>
                    </h5>
                    <div class="input-group">
                        <div class="form-outline">
                            <a class="btn btn-outline-dark" aria-current="page" href="{{ path('admin_new_event') }}" >Add Event</a>
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        {% if events %}
                        <table class="table table-hover text-nowrap">
                            <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Supplier</th>
                                <th scope="col">Players</th>
                                <th scope="col">Remaining</th>
                                <th scope="col">Type</th>
                                <th scope="col">Date</th>
                                <th scope="col">Previs</th>
                                <th scope="col">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for event in events %}
                                <tr>
                                    <td>{{ event.name }}</td>
                                    <td>{{ event.supplier }}</td>
                                    <td>{{ event.NumParticipants }}</td>
                                    <td>{{ event.NumRemaining }}</td>
                                    <td>{{ event.type }}</td>
                                    <td>{{ event.date|date }}</td>
                                    <td><img src="http://localhost/pidev/logo-mrigel-sghir.jpg"
                                             class="img-fluid rounded-circle"
                                             alt=""
                                             style="border-radius: 4px;
                                             padding: 5px;
                                             width: 50px;" ></td>
                                    <td>
                                        <a href="{{ path('admin_event_show',{'id':event.id}) }}" class="btn btn-dark">
                                            Show
                                        </a>

                                        <a href="{{ path('admin_edit_event',{'id':event.id}) }}" class="btn btn-light">
                                            Edit
                                        </a>
                                        <a href="{{ path('admin_event_delete',{'id':event.id}) }}" class="btn btn-danger" onclick="return confirm('Are you sure ?')">
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                            <p>No events yet !</p>
                        {% endif %}
                    </div>
                    {# display navigation #}
                    <div class="navigation">
                        {{ knp_pagination_render(events) }}
                    </div>
                    </div>

                </div>


            </div>
        </section>
        <!--Section: Manage All Events-->

        <!--Section: Manage All Special Events-->
        <section class="mb-4">
            <div class="card">
                <div class="card-header text-center py-3">
                    <h5 class="mb-0 text-center">
                        <strong>Manage All Special Events</strong>
                    </h5>
                    <div class="input-group">
                        <div class="form-outline">
                            <a class="btn btn-outline-dark" aria-current="page" href="/specialevent/add">Add a Special Event</a>
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        {% if SpecialEvents %}
                        <table class="table table-hover text-nowrap">
                            <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Supplier</th>
                                <th scope="col">Players</th>
                                <th scope="col">Remaining</th>
                                <th scope="col">Type</th>
                                <th scope="col">Date</th>
                                <th scope="col">Previs</th>
                                <th scope="col">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for SpecialEvent in SpecialEvents %}
                                <tr>
                                    <td>{{ SpecialEvent.name }}</td>
                                    <td>{{ SpecialEvent.supplier }}</td>
                                    <td>{{ SpecialEvent.NumParticipants }}</td>
                                    <td>{{ SpecialEvent.NumRemaining }}</td>
                                    <td>{{ SpecialEvent.type }}</td>
                                    <td>{{ SpecialEvent.date|date }}</td>
                                    <td><img src="http://localhost/pidev/logo-mrigel-sghir.jpg"
                                             class="img-fluid rounded-circle"
                                             alt=""
                                             style="border-radius: 4px;
                                             padding: 5px;
                                             width: 50px;" ></td>
                                    <td>
                                        <a href="/specialevent/{{ SpecialEvent.id }}" class="btn btn-dark">
                                            Show
                                        </a>

                                        <a href="specialevent/edit/{{ SpecialEvent.id }}" class="btn btn-light">
                                            Edit
                                        </a>


                                        <a href="specialevent/delete/{{ SpecialEvent.id }}" class="btn btn-danger" onclick="return confirm('Are you sure ?')">
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                            <p>No Special events yet !</p>
                        {% endif %}
                        {# display navigation #}
                        <div class="navigation">
                            {{ knp_pagination_render(events) }}
                        </div>
                    </div>
                </div>


            </div>
        </section>
        <!--Section: Manage All Special Events-->
    </div>
    </main>
{% endblock %}

