{% block body %}
<head>
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
            rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
            rel="stylesheet"
    />
    <!-- MDB -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css"
            rel="stylesheet"
    />

    <link
            href="http://localhost/pidev/style.css"
            rel="stylesheet"
    />


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.js">
    </script>
</head>
<style>
    body {
        background-color: #fbfbfb;
    }
    @media (min-width: 991.98px) {
        main {
            padding-left: 240px;
        }
    }

    /* Sidebar */
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        padding: 58px 0 0; /* Height of navbar */
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
        width: 240px;
        z-index: 600;
    }

    @media (max-width: 991.98px) {
        .sidebar {
            width: 100%;
        }
    }
    .sidebar .active {
        border-radius: 5px;
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    }

    .sidebar-sticky {
        position: relative;
        top: 0;
        height: calc(100vh - 48px);
        padding-top: 0.5rem;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    }
</style>
<nav
        id="sidebarMenu"
        class="collapse d-lg-block sidebar collapse bg-white"
>
    <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
            <a
                    href="{{ path('event_adminV2') }}"
                    class="list-group-item list-group-item-action py-2 ripple"
                    aria-current="true"
            >
                <i class="fas fa-calendar-alt fa-fw me-3"></i
                ><span>Events</span>
            </a>
            <a
                    href="{{ path('sevent_admin') }}"
                    class="list-group-item list-group-item-action py-2 ripple"
            >
                <i class="fas fa-calendar-alt fa-fw me-3"></i
                ><span>Special events</span>
            </a>
            <a
                    href="#"
                    class="list-group-item list-group-item-action py-2 ripple active"
            >
                <i class="fas fa-calendar-alt fa-fw me-3"></i
                ><span>Confirm events</span>
            </a>
        </div>
    </div>
</nav>
<!-- Sidebar -->

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container-fluid">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="{{ path('event-welcome') }}">
            <img
                    src="http://localhost/pidev/logo-mrigel-sghir.jpg"
                    height="25"
                    alt=""
                    loading="lazy"
            />
            <strong class="text-dark">Symbiose</strong>
        </a>
        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarExample01"
                aria-controls="navbarExample01"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarExample01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!--
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/events">Home</a>
                </li>
                -->
                <!-- Navbar dropdown -->
            </ul>
        </div>
    </div>
</nav>
<!-- Navbar -->

<main style="margin-top: 58px">
    <div class="container pt-4">
        <!--Section: Manage All Events-->
        <section class="mb-4">
            <div class="card">
                <div class="card-header text-center py-3">
                    <h5 class="mb-0 text-center">
                        <strong>Manage All Events</strong>
                    </h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        {% if events %}
                            <table class="table table-hover text-nowrap">
                                <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Supplier</th>
                                    <th scope="col">Players</th>
                                    <th scope="col">Remaining</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Date</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for event in events %}
                                    <tr>
                                        <td>{{ event.name }}</td>
                                        <td>{{ event.supplier }}</td>
                                        <td>{{ event.NumParticipants }}</td>
                                        <td>{{ event.NumRemaining }}</td>
                                        <td>{{ event.type }}</td>
                                        <td>{{ event.date|date }}</td>
                                        <td>
                                            <a href="{{ path('eventadmin_show',{'id':event.id}) }}" class="btn btn-dark">
                                                Show
                                            </a>


                                            <a href="{{ path('verify_event',{'id':event.id}) }}" class="btn btn-warning">
                                                Confirm
                                            </a>


                                            <a href="{{ path('delete_event',{'id':event.id}) }}" class="btn btn-danger" onclick="return confirm('Are you sure ?')">
                                                Delete
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <p>No events yet !</p>
                        {% endif %}

                    </div>
                    {# display navigation #}
                    <div class="navigation">
                        {{ knp_pagination_render(events) }}
                    </div>
                </div>
            </div>
        </section>
        <!--Section: Manage All Events-->

    </div>
</main>
{% endblock %}
