{% extends 'base.html.twig' %}

{% block title %} Mot de passe oublié - Etape 1 {% endblock %}

{% block body %}
    <div class="container mt-3">
    <div class="row align-items-center justify-content-center">
    <div class="col col-md-6 align-items-center justify-content-center">
        <h1 class="text-center">Mot de passe oublié - Etape 1</h1>
        {{ form_start(forgotPasswordFormStep1) }}
        {{ form_row(forgotPasswordFormStep1.Email.first) }}
        {{ form_label(forgotPasswordFormStep1.Email.second) }}
        {{ form_widget(forgotPasswordFormStep1.Email.second) }}
        <button type="submit" class="btn btn-primary d-block mx-auto mt-3" title="Saisissez deux fois votre adresse e-mail pour recevoir un lien de récupération">Envoyez-moi un lien de récupération</button>
        {{ form_end(forgotPasswordFormStep1) }}
    </div>
    </div>
    </div>


{% endblock %}