<!--Main Navigation-->
<header>
    <!-- Sidebar -->
    <nav
            id="sidebarMenu"
            class="collapse d-lg-block sidebar collapse bg-white"
    >
        <div class="position-sticky">
            <div class="list-group list-group-flush mx-3 mt-4">
                <a
                        href="{{ path('admin_dashboard') }}"
                        class="list-group-item list-group-item-action py-2 ripple "
                        aria-current="true"
                >
                    <i class="fas fa-tachometer-alt fa-fw me-3"></i
                    ><span>Main dashboard</span>
                </a>
                <a
                        href="{{ path('admin_utilisateurs') }}"
                        class="list-group-item list-group-item-action py-2 ripple"
                ><i class="fas fa-users fa-fw me-3"></i><span>Utilisateurs</span></a
                >
                <a
                        href="{{ path('event_adminV2') }}"
                        class="list-group-item list-group-item-action py-2 ripple"
                ><i class="fab fa-elementor fa-fw me-3"></i></i><span>Evenements</span></a
                >

            </div>
        </div>
    </nav>
    <!-- Sidebar -->

    <!-- Navbar -->
    <nav
            id="main-navbar"
            class="navbar navbar-expand-lg navbar-light bg-white fixed-top"
    >
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button
                    class="navbar-toggler"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#sidebarMenu"
                    aria-controls="sidebarMenu"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <i class="fas fa-bars"></i>
            </button>

            <!-- Brand -->
            <a class="navbar-brand" href="{{ path('homepage') }}">
                <img
                        src="/img/Image1.png"
                        height="25"
                        alt=""
                        loading="lazy"
                /> Symbiose
            </a>
            <!-- Right links -->
            <ul class="navbar-nav ms-auto d-flex flex-row">

                <!-- Avatar -->
                <li class="nav-item dropdown">
                    <a
                            class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center"
                            href="#"
                            id="navbarDropdownMenuLink"
                            role="button"
                            data-mdb-toggle="dropdown"
                            aria-expanded="false"
                    >
                        <img
                                src={{ app.user.picture }}
                                class="rounded-circle"
                                height="22"
                                alt=""
                                loading="lazy"
                        />

                    </a>
                    <ul
                            class="dropdown-menu dropdown-menu-end"
                            aria-labelledby="navbarDropdownMenuLink"
                    >
                        <li><a class="dropdown-item-text text-center bg-dark text-white">{{ app.user.fullname }}</a> </li>
                        <div class="dropdown-divider"></div>
                        <li><a class="dropdown-item" href="{{ path('homepage') }}"><i class="fas fa-eye"></i> Voir le site</a></li>
                        <li><a class="dropdown-item" href="{{ path('admin_account_logout') }}">Déconnexion</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
</header>
<!--Main Navigation-->

