{% extends 'base.html.twig' %}
{% block title %}Calendar index{% endblock %}

{% block body %}
    <div align="center">
        <form action={{ path("calendar_index",)}}>
            <button class="btn btn-info">liste de reservation</button>
        </form>
    </div>

    {{ form_start(form) }}
    {{form_row(form.field, {'attr': {'value': 54}})}}
    {{ form_widget(form) }}

    <div class="btn-group" role="group" aria-label="Basic example">
        @@ -17,18 +23,19 @@
        {# <form action={{  button_label|default('Save') }}>
        <button class="btn btn_drink">save</button>
    </form> #}

        <button class="btn btn-warning">{{ button_label|default('Save') }}</button>

        {{ form_end(form) }}

        <form action={{ path("afficheterrai",)}}>
            <button class="btn btn-light">Exit</button>
        </form>

    </div>




{% endblock %}