{% extends 'base.html.twig' %}
{% block title%} List des terrain {% endblock %}

{% block  body %}
    <form  action="{{ path('addfield') }}" class="container p-3" >

        <button class="btn btn-dark">ADD</button>

    </form>
    {% if  terain %}

        <table  id = " terrain "  class = " table table-striped ">
            <thead>
            <tr>
                <th> fields </th>
                <th> details </th>
                <th>delete</th>
                <th>modifier</th>
            </tr>
            </thead>
            <tbody>
            {% for   field in  terain %}
                <tr>
                    <td> {{ field.name}} </td>
                    <td>
                        <form action="{{ path('detail',{ 'id':field.id }) }}">

                            <button class="btn btn-dark">Details</button>
                        </form>

                    </td>
                    <td>
                        <form action="{{ path('update',{ 'id':field.id }) }}">
                            <button class="btn btn-light">Modify</button>
                        </form>
                    </td>
                    <td>
                        <form action="{{ path('supp',{ 'id':field.id }) }}">
                            <button class="btn btn-danger" onclick="return confirm('Are you sure ?')">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p> Audun field </p>
    {% endif %}
{% endblock %}