{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    {% if  n %}

        <table  id = " n "  class ="table table-striped">

            <thead>
            <tr>

                <th scope="col">code</th>
                <th scope="col">name</th>
                <th scope="col">address</th>
                <th scope="col">space</th>
            </tr>
            </thead>
            <tbody>
            <tr>

                <td>{{ n.id }}</td>
                <th>{{ n.id }}</th>
                <td>{{ n.id }}</td>
                <td>{{ n.id }}</td>
                <td>{{ n.id  }}</td>


            </tr>


            </tbody>
        </table>
        {% else %}
        dsf;sgùp
    {% endif %}
{% endblock %}