{% extends 'base.html.twig' %}

{% block title %}My Cart !{% endblock %}

{#{% block stylesheets %}#}
{#    <link#}

{#            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"#}
{#            rel="stylesheet"#}

{#    />#}
{#{% endblock %}#}

{% block body %}

    <div class="container mt-4">
        <div class="bg-light up-3">
            <h1>Your Cart</h1>
        </div>
        <div class="container mt-4">
            {% if items | length > 0 %}
                <table class="table">
                    <thead>
                    <tr>
                        <th>Product</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Quantity</th>
                        <th>Product total</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in items %}
                        <tr>
                            <td>{{ item.product.name }}</td>
                            <td class="text-center">{{ item.product.formattedPrice }} (dt)</td>
                            <td>
                                <div class="input-group input-group-sm justify-content-center">
                                    <a href="{{ path("cart_decrease_quantity", { id: item.product.id }) }}" class="btn btn-sm-2 btn-outline-primary">
                                        <span class="fas fa-minus"></span>
                                    </a>
                                    <span class="input-group-text bg-white border-top border-bottom">{{ item.quantity }}</span>
                                    <a href="{{ path('cart_add', {'id': item.product.id}) }}" class="btn btn-sm-2 btn-outline-primary">
                                        <span class="fas fa-plus"></span>
                                    </a>
                                </div>
                            </td>
                            <td>{{ item.product.price * item.quantity }} (dt)</td>
                            <td>
                                <a href="{{ path('cart_remove', {'id': item.product.id})}}" class="btn btn-danger btn-sm"><i class="fas fa-trash"> </i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td class="fw-bold" colspan="3" align="right">Total :</td>
                        <td class="fw-bold">{{ total }} (dt)</td>
                    </tr>
                    </tfoot>
                </table>
            {% else %}
                <p>Your cart is empty !</p>
            {% endif %}
        </div>
    </div>

{% endblock %}