{% extends 'base.html.twig' %}

{% block title %}My Cart !{% endblock %}

{% block body %}

    <div class="container mt-4">
        <div class="bg-light up-3">
            <h1>Your Cart</h1>
        </div>
        <div class="container mt-4">
            {% if items | length > 0 %}
                <div class="row">
                    {% for item in items %}

                        <div class="col-md-8">
                            <h5 class="card-header bg-dark text-white d-flex">
                                {{ item.product.name }}
                            </h5>
                            <div class="card mb-5">
                                <div class="card-body">
                                    <div class="flex-fill mr-2">
                                        <p class="card_text">{{ item.product.description[:50] | nl2br }}...</p>
                                        <div class="text-primary" style="font-weight: bold; font-size: 2rem">Price : {{ item.product.formattedPrice }} (dt)</div>
                                        <div class="text-primary" style="font-weight: bold; font-size: 2rem">Product Total : {{ item.product.price * item.quantity }} (dt)</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card mt-4 mt-md-0">
                                <h5 class="card-header bg-dark text-white d-flex">Summary</h5>
                                <div class="card-body">
                                <div class="input-group input-group-sm justify-content-center">
                                    <a href="{{ path("cart_decrease_quantity", { id: item.product.id }) }}" class="btn btn-sm-2 btn-outline-primary">
                                        <span class="fas fa-minus"></span>
                                    </a>
                                    <span class="input-group-text bg-white border-top border-bottom">{{ item.quantity }}</span>
                                    <a href="{{ path('cart_increase_quantity', {'id': item.product.id}) }}" class="btn btn-sm-2 btn-outline-primary">
                                        <span class="fas fa-plus"></span>
                                    </a>
                                </div>

                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item d-flex justify-content-between">
                                        <div><b>Total</b></div>
                                        <span><b>{{ total }} (dt)</b></span>
                                    </li>
                                </ul>
                                    <a href="{{ path('cart_remove', {'id': item.product.id})}}" class="btn btn-danger w-100"
                                       onclick="return confirm('Are you sure ?')"><i class="fas fa-trash"></i></a>
                                    <a href="#" class="btn btn-warning" align="right">CHECKOUT</a>

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <a href="/clientPage" class="btn">CONTINUE SHOPPING</a>
                        <a href="#" class="btn btn-warning" align="right">CHECKOUT</a>
                    </div>
                </div>
            {% else %}
                <p>Your cart is empty !</p>
            {% endif %}
        </div>
    </div>

{% endblock %}
