{% extends "admin/base.html.twig" %}

{% block title %}Gestion d'utilisateurs{% endblock %}

{% block body %}
    <main style="margin-top: 58px">
    <section class="mb-4">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        <div class="card">
            <div class="card-header text-center py-3">
                <h5 class="mb-0 text-center">
                    <strong>Gestions des users</strong>
                </h5>
                <div class="input-group">
                    <div class="form-outline">
                        <input type="text" id="search" class="form-control" />
                        <label class="form-label" for="search">Search</label>
                    </div>
                    <button type="button" class="btn btn-dark ">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover text-nowrap table-sm btn-group-sm ">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Status</th>
                            <th scope="col">Prénom & Nom</th>
                            <th scope="col">Email</th>
                            <th scope="col">Genre</th>
                            <th scope="col">Verification</th>
                            <th scope="col">CIN</th>
                            <th scope="col">Date de naissance</th>
                            <th scope="col">Adresse</th>
                            <th scope="col">N° Tel</th>
                            <th scope="col">Rôle</th>
                            <th scope="col">Image</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody id="all">
                        <tr>
                            {% for user in users  %}
                            <td>{{ user.id }}</td>
                            <td>
                                {% if user.isEnabled==1 %}
                                <a href="{{ path('admin_user_permute',{'id':user.id}) }}" class="btn {% if app.user.id == user.id and user.role=="Admin" %}btn-dark disabled{% endif %} btn-danger">Disable</a>
                                    {% else %}
                                <a href="{{ path('admin_user_permute',{'id':user.id}) }}" class="btn btn-success">Enable</a>
                                {% endif %}
                            </td>
                            <td>{{ user.fullname }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.genre }}</td>
                            <td>{% if user.isVerified==true %}
                                <button type="button" class="btn btn-success btn-rounded">Vérifié <i class="fas fa-check"></i></button>
                                {% else %}
                                <button type="button" class="btn btn-danger btn-rounded">Non vérifié <i class="far fa-times-circle ml-3"></i></button>
                                {% endif %}
                            </td>
                            <td>{{ user.CIN }}</td>
                            <td>{{ user.birthday|date('d/m/Y')}}</td>
                            <td>{{ user.Adresse }}</td>
                            <td>{{ user.phoneNumber }}</td>
                            <td>{{ user.role }}</td>
                            <td><img src="{{ user.picture }}"
                                     height="32"
                                     class="rounded-circle"
                                     alt=""
                                     loading="lazy"></td>
                            <td>
                                <a href="{{ path('admin_utilisateurs_edit',{'id':user.id}) }}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                                <a href="{{ path('admin_user_delete',{'id':user.id}) }}" class="btn btn-danger {% if app.user.id == user.id and user.role=="Admin" %}disabled{% endif %}"><i class="fas fa-trash"></i></a>

                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        <tbody id="search">

                        </tbody>
                    </table>
                </div>
            </div>
            <nav aria-label="...">
                <ul class="pagination justify-content-center">
                    <li class="page-item {% if page == 1 %}disabled{% endif %}">
                        <a class="page-link" href="{{ path('admin_utilisateurs',{'page':page -1}) }}" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    {% for i in 1..pages%}
                    <li class="page-item {% if page == i %}active{% endif %}"><a class="page-link" href="{{ path('admin_utilisateurs',{'page': i}) }}">{{ i }}</a></li>
                    {% endfor %}
                    <li class="page-item {% if page == pages %}disabled{% endif %}">
                        <a class="page-link" href="{{ path('admin_utilisateurs',{'page':page + 1}) }}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
    <!--Section: Sales Performance KPIs-->
    </main>
    {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>
        <script>
            $(document).ready(function() {
                {#$('#search').keyup(function(e){#}
                {#    var value = $(this).val();#}
                {#    $.ajax({#}
                {#        url : "{{ path('admin_user_recherche') }}",#}
                {#        type : 'GET',#}
                {#        data: { 'searchValue' : value },#}
                {#        success : function(retour){#}
                {#            if(retour){#}
                {#            $('tbody#search').empty();#}
                {#            $.each(JSON.parse(retour),#}
                {#                function(i, obj) {#}
                {#                console.error('JSON recived :', retour);#}
                {#                $('tbody#all').hide();#}
                {#                $('tbody#search').append('<tr>' +#}
                {#                    '<td>'+obj.id+' </td>'+#}
                {#                    '<td><a href="admin_user_permute" class="btn btn-success">'+obj.isEnabled+'</a></td>' +#}
                {#                    '<td> '+obj.firstName+" "+obj.lastName+' </td>' +#}
                {#                    '<td> '+obj.Email+' </td>' +#}
                {#                    '<td> '+obj.isVerified+' </td>' +#}
                {#                    '<td> '+obj.Cin+' </td>' +#}
                {#                    '<td> '+obj.Birthday+' </td>' +#}
                {#                    '<td> '+obj.Adresse+' </td>' +#}
                {#                    '<td> '+obj.Phone_Number+' </td>' +#}
                {#                    '<td> '+obj.role+' </td>' +#}
                {#                    '<td> '+obj.picture+' </td>' +#}
                {#                    '</td><td><a href="admin_utilisateurs_edit/'+obj.id+'">modifier</a>' +#}
                {#                    '</br><a href="deleteStudent/'+obj.id+'">supprimer</a></td>' +#}
                {#                    '</tr>');#}
                {#            });#}
                {#            }#}
                {#            else {#}
                {#                $('tbody#all').show();#}
                {#                $('tbody#search').empty();#}
                {#                $('tbody#search').fadeIn('fast');#}
                {#            }#}
                {#            },#}
                {#    });#}
                {#    return false;#}
                {#});#}
                $("#search").keyup(function () {
                    var value = this.value.toLowerCase().trim();

                    $("table tr").each(function (index) {
                        if (!index) return;
                        $(this).find("td").each(function () {
                            var id = $(this).text().toLowerCase().trim();
                            var not_found = (id.indexOf(value) == -1);
                            $(this).closest('tr').toggle(!not_found);
                            return not_found;
                        });
                    });
                });
            });
        </script>
    {% endblock %}
{% endblock %}
