<nav class="navbar navbar-expand-lg navbar-dark d-none d-lg-block navbar-fixed-top" style="z-index: 2000;">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
        <a class="navbar-brand" href="{{ path('homepage') }}">
            <img
                    src="/img/Image1.png"
                    height="30"
                    alt=""
                    loading="lazy"/>
            <strong class="text-dark">Symbiose</strong>
        </a>

        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarLeftAlignExample"
                aria-controls="navbarLeftAlignExample"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>


        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarLeftRightExample">
            <!-- Left links -->
            <ul class="navbar-nav ms-auto d-flex flex-row">

                <!-- Navbar dropdown -->
                <ul class="navbar-nav ml-auto">
                    {% if app.user %}
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle " data-mdb-toggle="dropdown" data-mdb-display="static" id="accountDropdownLink">
                                <img src="{{ app.user.picture }}" class="avatar avatar-mini" alt="Avatar de {{ app.user.fullname }}">
                                <strong class="text-dark">{{ app.user.fullname }}</strong>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="accountDropdownLink">
                                <a href="{{ path('account_index') }}" class="dropdown-item">Mon compte</a>
                                <a href="{{ path('account_profile') }}" class="dropdown-item">Modifier mon profile</a>
                                <div class="dropdown-divider"></div>
                                <a href="{{ path('account_logout') }}" class="dropdown-item">Déconnecter</a>
                            </div>

                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle " data-mdb-toggle="dropdown" data-mdb-display="static" id="accountDropdownLink">
                                <strong class="text-dark">Terrains</strong>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="accountDropdownLink">
                                <a href="{{ path('afficheterrai') }}" class="dropdown-item">Terrains</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle " data-mdb-toggle="dropdown" data-mdb-display="static" id="accountDropdownLink">
                                <strong class="text-dark">Evenements</strong>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="accountDropdownLink">
                                <a href="{{ path('event_list') }}" class="dropdown-item">Evenements</a>
                                <a href="{{ path('event_supplier') }}" class="dropdown-item">Evenements Supplier</a>

                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle " data-mdb-toggle="dropdown" data-mdb-display="static" id="accountDropdownLink">
                                <strong class="text-dark">Produits</strong>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="accountDropdownLink">
                                <a href="{{ path('products') }}" class="dropdown-item">Produits</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle " data-mdb-toggle="dropdown" data-mdb-display="static" id="accountDropdownLink">
                                <strong class="text-dark">Communication</strong>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="accountDropdownLink">
                                <a href="{{ path('publication') }}" class="dropdown-item">Communication</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle " data-mdb-toggle="dropdown" data-mdb-display="static" id="accountDropdownLink">
                                <strong class="text-dark">Match</strong>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="accountDropdownLink">
                                <a href="{{ path('game_index') }}" class="dropdown-item">Match</a>
                            </div>
                        </li>

                    {% else %}
                        <li class="nav-item ms-auto">
                            <a href="{{ path('account_register') }}" class="nav-link">Inscription</a>
                        </li>
                        <li class="nav-item ms-auto">
                            <a href="{{ path('account_login') }}" class="nav-link">Connexion</a>
                        </li>
                    {% endif %}

            </ul>
            </ul>
            <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>


{% for label,messages in app.flashes %}
    <div class="container mt-3">
        <div class="alert alert-{{ label }}">
            {% for message in messages  %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    </div>
{% endfor %}