{% extends "admin/base.html.twig" %}
{% block body %}


    <main style="margin-top: 58px">
        <div class="container pt-4">
            <h3 align="center">You are an admin you have all the power!</h3>

            <div class="container pt-4">
                <!--Section: Manage All Events-->
                <section class="mb-4">
                    <div class="card">
                        <div class="card-header text-center py-3">
                            <h5 class="mb-0 text-center">
                                <strong>Manage All Products</strong>
                            </h5>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                {% if products %}
                                <div class="jumbotron">
                                    <div class="container">
                                        <strong>Search with filters :</strong>

                                        {{ form_start(form) }}
                                        <div class="row mt-2">
                                            <div class="col">
                                                {{ form_row(form.q) }}
                                            </div>
                                            <div class="col">
                                                {{ form_row(form.maxPrice) }}
                                            </div>
                                            <div class="col">
                                                {{ form_row(form.minPrice) }}
                                            </div>
                                            <div class="col-md-2 align-self-center">
                                                {{ form_row(form.State) }}
                                            </div>
                                            <div class="col">
                                                <button class="btn btn-primary w-100"><i class="fas fa-search mr-1"></i> Search</button>
                                            </div>
                                        </div>
                                        {{ form_end(form) }}
                                    </div>
                                </div>
                                <table id="products" class="table table-hover text-nowrap">
                                    <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Type</th>
                                        <th scope="col">State</th>
                                        <th scope="col">Created At</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for product in products %}
                                        <tr>
                                            <td>{{ product.name }}</td>
                                            <td>{{ product.description[:30] | nl2br }}...</td>
                                            <td>{{ product.formattedPrice }} (dt)</td>
                                            <td>{{ product.articleType }}</td>
                                            <td>{{ product.stateType }}</td>
                                            <td>{{ product.createdAt | date("H:i:s d/m/Y") }}</td>
                                            <td>
                                                <a href="/admin/product/{{ product.id }}" class="btn btn-dark">Show</a>
                                                <a href="/admin/product/edit/{{ product.id }}" class="btn btn-light">Edit</a>
                                                <a href="/admin/product/delete/{{ product.id }}"
                                                   class="btn btn-danger delete-product"
                                                   onclick="return confirm('Are you sure ?')">Delete</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="pagination">{{ knp_pagination_render(products) }}</div>

                            {% else %}
                                <p>No events yet !</p>
                            {% endif %}
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-block btn-outline-primary" aria-current="page" href="/admin/product/new">New Product</a>
                        </div>
                    </div>
                </section>
            </div>


        </div>
    </main>

{% endblock %}