{% extends 'base.html.twig' %}

{% block title %}New product!{% endblock %}

{% block body %}
    <div class="container mt-4">

        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-4">{{ form_row(form.Name) }}</div>
            <div class="col-md-4">{{ form_row(form.Type) }}</div>
            <div class="col-md-4">{{ form_row(form.Price) }}</div>
        </div>
        <div class="row">
            <div class="col-md">{{ form_row(form.Description) }}</div>
        </div>
        <div class="col-md-2">{{ form_row(form.State) }}</div>
        {{ form_widget(form) }}
        {{ form_end(form) }}
        <a href="/products" class="btn btn-primary mt-3">Cancel</a>

    </div>

{% endblock %}
