{% extends 'base.html.twig' %}

{% block body %}

    <div class="container p-3 my-3">
        <h3 align="center">Check out all your own events</h3>
        <h1 align="center">My Events</h1>
        <a class="btn btn-outline-dark"  aria-current="page" href="/eventsupplier/add">Add Event</a>

        {% if events %}
            <div class="table-responsive">
                <table id="events" class="table table-hover table-bordered table-sm table-success table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Event</th>
                        <th scope="col">Supplier</th>
                        <th scope="col">Players</th>
                        <th scope="col">Remaining</th>
                        <th scope="col">Type</th>
                        <th scope="col">Date</th>
                        <th scope="col">Previs</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for event in events %}
                        <tr>
                            <td>{{ event.name }}</td>
                            <td>{{ event.supplier }}</td>
                            <td>{{ event.NumParticipants }}</td>
                            <td>{{ event.NumRemaining }}</td>
                            <td>{{ event.type }}</td>
                            <td>{{ event.date|date }}</td>
                            <td><img src="http://localhost/pidev/logo-mrigel-sghir.jpg"
                                     class="img-fluid rounded-circle"
                                     alt=""
                                     style="border-radius: 4px;
                                             padding: 5px;
                                             width: 50px;" ></td>
                            <td>
                                <a href="{{ path('supplier_event_show',{'id':event.id}) }}" class="btn btn-outline-dark">
                                    Show
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        {% else %}
            <p>No events yet !</p>
        {% endif %}

    </div>
{% endblock %}

