{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="container p-3 my-3">
        <div align="center">
                <h3>Event list</h3>
                <p>All your events in one place!</p>

                <!-- Search form -->
                <div class="container p-3 my-3" align="center">
                    <div class="form-row">
                        {{ form_start(form) }}
                        {{ form_row(form.Type) }}
                        <button class="btn-outline-primary">
                            <i class="fas fa-search"></i>
                        </button>
                        {{ form_end(form) }}
                    </div>
                </div>
        </div>



        {% if events %}
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for event in events %}

            <div class="col-sm-6">
                <div class="card text-center border border-primary shadow-0 mb-3" >
                    <div class="card-header text-center">From {{ event.supplier }}</div>
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ event.name }}</h5>

                        {% set type = event.type %}
                        {% if type == 'Tennis'  %}
                            <span class="badge bg-success">{{ event.type }}</span>

                        {% elseif type == 'Football' %}
                            <span class="badge bg-light text-dark">{{ event.type }}</span>

                        {% elseif type == 'Basketball' %}
                            <span class="badge bg-warning text-dark">{{ event.type }}</span>

                        {% elseif type == 'Paintball' %}
                            <span class="badge bg-secondary">{{ event.type }}</span>

                        {% elseif type == 'LaserTag' %}
                            <span class="badge bg-light text-dark">{{ event.type }}</span>
                        {% endif %}

                        <p class="card-text">
                        <div class="progress" style="height: 20px">
                            <div
                                    class="progress-bar progress-bar-striped progress-bar-animated"
                                    role="progressbar"
                                    aria-valuenow="{{ event.NumRemaining }}"
                                    aria-valuemin="0"
                                    aria-valuemax="{{ event.NumParticipants }}"
                                    style="width: 100%"
                            >{{ event.NumRemaining }} Places left</div>
                        </div>
                        </p>

                        <div class="text-center">
                        <a href="{{ path('event_show',{'id':event.id}) }}" class="btn btn-outline-dark">
                            Show
                        </a>
                        <a href="/{{ path('join_event',{'id':event.id}) }}" class="btn btn-warning">
                            Join This Event
                        </a>
                        </div>
                    </div>
                    <div class="card-footer text-center">{{ event.date|date }}</div>
                </div>
            </div>
            {% endfor %}

        </div>


        {% else %}
            <p>No events yet !</p>
        {% endif %}


        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(events) }}
        </div>

        <div align="center">
            <h3>Or</h3>
            <h5>Check out our special events here</h5>
            <div class="container p-3 my-3" align="center">
                <a href="{{ path('sevent_list') }}" class="btn btn-dark">Click here</a>
            </div>
        </div>
    </div>
{% endblock %}

