{% extends 'base.html.twig' %}

{% block body %}
    <!--
    <a class="btn btn-outline-primary" aria-current="page" href="/event/add">Add Event</a>
    -->
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="container p-3 my-3">
        <h1 align="center">Special events</h1>


        {% if Sevents %}
            <div class="table-responsive">
                <table id="events" class="table table-hover table-bordered table-sm table-warning border-light">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Supplier</th>
                        <th scope="col">Players</th>
                        <th scope="col">Remaining</th>
                        <th scope="col">Type</th>
                        <th scope="col">Date</th>
                        <th scope="col">Previs</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for Sevent in Sevents %}
                        <tr>
                            <td>{{ Sevent.name }}</td>
                            <td>{{ Sevent.supplier }}</td>
                            <td>{{ Sevent.NumParticipants }}</td>
                            <td>{{ Sevent.NumRemaining }}</td>
                            <td>{{ Sevent.type }}</td>
                            <td>{{ Sevent.date|date }}</td>
                            {# TODO add dynamic images based on url in DB Events#}
                            <td><img src="http://localhost/pidev/logo-mrigel-sghir.jpg"
                                     class="img-fluid rounded-circle"
                                     alt=""
                                     style="border-radius: 4px;
                                             padding: 5px;
                                             width: 50px;" ></td>
                            <td>
                                <a href="{{ path('sevent_show',{'id':Sevent.id}) }} class="btn btn-outline-dark">
                                    Show
                                </a>

                                <hr>
                                <a href="{{ path('join_sevent',{'id':Sevent.id}) }} class="btn btn-warning">
                                    Join This Event
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        {% else %}
            <p>No special events yet !</p>
        {% endif %}

        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(Sevents) }}
        </div>

        <div class="container p-3 my-3" align="center">
            <a href="{{ path('event_list') }}" class="btn btn-dark">Go back </a>
        </div>
    </div>


    <!--
    {% block Javascripts %}
        <script
                type="text/javascript"
                src="/js/delete_event.js">
        </script>
    {% endblock %}
    -->

{% endblock %}

