{% extends 'base.html.twig' %}

{% block title %}Shop !{% endblock %}

{% block body %}
    {% if products %}
        <div class="container mt-4">
            <h2>All equipment in stock</h2>
            <div class="container mt-4">
                <div class="row">
                    {% for product in products %}
                        <div class="col-md-4">
                            {% if product.filename %}
                                <img src="{{ vich_uploader_asset(product, 'imageFile') }}" alt="car-img-top" style="width: 100%; height: auto;">
                            {% endif %}
                            <div class="card mb-5">
                                <h3 class="card-header bg-dark text-white">{{ product.name }}</h3>
                                <div class="card-body">
                                    <p class="card_text">{{ product.description[:40] | nl2br }}...</p>
                                    <div class="text-primary" style="font-weight: bold; font-size: 2rem">{{ product.formattedPrice }} (dt)</div>
                                    <a href="{{ path('cart_add_equipment', {'id': product.id}) }}" class="btn btn-success" onclick="return confirm('Are you sure ?')">
                                        <i class="fas fa-shopping-cart mr-1"></i>
                                        Add to cart
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="pagination">{{ knp_pagination_render(products) }}</div>
            </div>
        </div>

    {% else %}
        <p>No products available</p>
    {% endif %}

{% endblock %}
