{% extends 'base.html.twig' %}


{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="container p-3 my-3">
        <h3 align="center">All your events in one place!</h3>
        <h1 align="center">Events</h1>

        <a class="btn btn-outline-primary" aria-current="page" href="/event/add">Add Event</a>
        <a class="btn btn-outline-primary" aria-current="page" href="/specialevent/add">Add a Special Event</a>

        {% if events %}
            <div class="table-responsive">
                <table id="events" class="table table-hover table-bordered table-sm table-primary border-light">
                    <thead>
                    <tr>
                        <th scope="col">Event</th>
                        <th scope="col">Supplier</th>
                        <th scope="col">Players</th>
                        <th scope="col">Remaining</th>
                        <th scope="col">Type</th>
                        <th scope="col">Date</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for event in events %}
                        <tr>
                            <td>{{ event.name }}</td>
                            <td>{{ event.supplier }}</td>
                            <td>{{ event.NumParticipants }}</td>
                            <td>{{ event.NumRemaining }}</td>
                            <td>{{ event.type }}</td>
                            <td>{{ event.date|date }}</td>
                            <td>
                                <a href="/eventadmin/{{ event.id }}" class="btn btn-primary">
                                    Show
                                </a>


                                <a href="event/edit/{{ event.id }}" class="btn btn-light">
                                    Edit
                                </a>


                                <a href="event/delete/{{ event.id }}" class="btn btn-danger" onclick="return confirm('Are you sure ?')">
                                    Delete
                                </a>


                                <!--
                                <a href="#" class="btn btn-danger delete-event" data-id="{{ event.id }}">
                                    Cancel
                                </a>
                                -->
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>

        {% else %}
            <p>No events yet !</p>
        {% endif %}

    </div>

    <h1 align="center">All Special Events</h1>
    <div class="container">
        {% if SpecialEvents %}
            <div class="table-responsive">
                <table id="events" class="table table-hover table-bordered table-sm table-primary border-light">
                    <thead>
                    <tr>
                        <th scope="col">Event</th>
                        <th scope="col">Supplier</th>
                        <th scope="col">Players</th>
                        <th scope="col">Remaining</th>
                        <th scope="col">Type</th>
                        <th scope="col">Date</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for SpecialEvent in SpecialEvents %}
                        <tr>
                            <td>{{ SpecialEvent.name }}</td>
                            <td>{{ SpecialEvent.supplier }}</td>
                            <td>{{ SpecialEvent.NumParticipants }}</td>
                            <td>{{ SpecialEvent.NumRemaining }}</td>
                            <td>{{ SpecialEvent.type }}</td>
                            <td>{{ SpecialEvent.date|date }}</td>
                            <td>
                                <a href="/specialevent/{{ SpecialEvent.id }}" class="btn btn-primary">
                                    Show
                                </a>

                                <a href="specialevent/edit/{{ SpecialEvent.id }}" class="btn btn-light">
                                    Edit
                                </a>


                                <a href="specialevent/delete/{{ SpecialEvent.id }}" class="btn btn-danger" onclick="return confirm('Are you sure ?')">
                                    Delete
                                </a>


                                <!--
                                <a href="#" class="btn btn-danger delete-event" data-id="{{ SpecialEvent.id }}">
                                    Cancel
                                </a>
                                -->
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>

        {% else %}
            <p>No Special events yet !</p>
        {% endif %}

    </div>

{% endblock %}

